@font-face {
	font-family: 'Great Vibes';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/GreatVibes.ttf');
	src: local('Great Vibes'), local('GreatVibes'),
		url('./assets/fonts/GreatVibes.ttf') format('truetype'); /* Safari, Android, iOS */
}
body {
	background-color: #011627;
	color: #fff;
	padding: 15px;
}

.row {
	display: flex;
	flex-direction: row;
}

.brand .initials {
	font-family: 'Great Vibes';
	font-size: calc(18px + 2vmin);
	font-weight: 800;
}
